/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}





body {
    background-color: #e1f0f8;
    font-size: 16px;
    line-height: 1.3;
    margin: 0px;
}

.main-header {
    height:  213px;
    background: #ffffff;
    padding-top: 1px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.top-nav {
    width: 1145px;
    height: 157px;
}

.container {
    margin: 0 auto;
    width: 1145px;

}

.index-logo {
    width: 232px;
    height: 122px;
    margin-top: 15px;
    margin-left: 25px;
    float: left;
}

.calc {
    margin-left: 304px;
    margin-top: 95px;
    float: left;
    width: 239px;
    font-size: 23px;
}

.calc a {
    color: #f36240;
}

.contact-header {
    margin-top: 69px;
    margin-right: 15px;
    float: right;
    width: 247px;
    text-align: right;
}


.tel {
    font-size: 31px;
}

.main-nav {
    width: 1145px;
    height: 57px;    
}

.main-nav li {
    display: inline-block;
    white-space: nowrap;
    margin-left: -5px;
}

.main-nav ul {
    margin: 0px;
    padding: 0px;
}

.main-nav a {
    display: block;
    min-width: 228px;
    border-right: 1px solid #5f6973;
    color: #5f6973;
    text-align: center;
    font-size: 24px;
    text-decoration: none;    
    line-height: 57px;
}

.main-nav li:nth-child(5n) a:first-child{
    border: none;
}

.main-nav a.active {
    background-color: #7bc3d5;
}

.sidebar {
    float: left;
    height: 469px;
    width: 240px;
    background: #ffffff;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar a {
    display: block;
    color: #8a8a8a;
    padding-left: 25px;
    padding-top: 12px;
}

.sidebar h3 {
    padding: 0;
    margin: 0;
    padding-left: 25px;
    padding-top: 21px;
    padding-bottom: 11px;
}

.disc {
    width: 878px;
    height: 610px;
    background-color: #ffffff;
    float: right;
}

.disc h3{
    padding: 26px 0 35px 25px;
    margin: 0;
    font-size: 26px;
}
.left-column {
    float: left;
    width: 198px;
    padding: 0;
    margin: 0;
    padding-left: 82px;
    padding-right: 95px;
}

.right-column {
    float: right;
    width: 499px;
}

.right-column li {
    list-style: disk;
    list-style-position: outside;
    color: #eb5825;
}

.right-column li span {
    color: #484848;
    font-size: 14px;
}

.right-column ul {
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

.right-column h3 {
    padding: 40px 0 25px 0;;
}

input[type="checkbox"] + label{
    display: none;
    width: 59px;
    height: 59px;
    position: relative;
    display: inline-block;
    margin-right: -5px;
    padding-right: 7px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 59px;
    height: 59px;
    background: url("../img/sprites.png") no-repeat;
    position: absolute; 
    top: 0;
    left: 0;
}

#check1 + label::before {
    background-position: -4px -39px;
}


#check2 + label::before {
    background-position: -90px -37px;
}

#check3 + label::before {
    background-position: -185px -38px; 
}

#check4 + label::before {
    background-position: -273px -38px; 
}

#check5 + label::before {
    background-position: -364px -38px; 
}

#check6 + label::before {
    background-position: -458px -39px; 
}

#check7 + label::before {
    background-position: -550px -40px;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    width: 38px;
    height: 27px;
    background: url("../img/sprites.png") no-repeat -20px -117px;
    top: 25%;
    left: 25%;
}

.right-column  input + p {
    margin: 0; 
    padding-top: 28px;
    padding-bottom: 35px;
}

.info-items {
    width: 499px;
    height: 56px;
}

.info {
    display: inline-block;
    height: 56px;
    vertical-align: top;
    padding: 0 15px;
    font-weight: bold;
    color: #484848;
}

.red {
    color: #eb5825;
}

.info-items br + a { 
    text-decoration: none;
    border-bottom: 1px dashed #eb5825;
}

.button {
    display: inline-block;
    width: 311px;
    height: 42px; 
    line-height: 42px;
    font-size: 18px;
    margin-top: 33px;
    margin-bottom: 12px;
    border: none;
    color: #ffffff;
    background-color: #eb5825;
}

.info-items button + a {
    display: inline-block;
}

.deter {
    float: right;
    width: 878px;
    height: 480px;
    background-color: #ffffff;
    margin-top: 25px;
}

.deter h3 {
    margin: o;
    margin-top: 34px;
    padding-left: 27px;
    margin-bottom: 18px;
}

.block1 p {
    margin: 0;
    padding-bottom: 20px;
    padding-left: 117px;
}

.block1 .form1 {
    float: left;
    background: url(../img/sprites.png) no-repeat -441px -145px;
	width: 55px;
	height: 53px;
    margin-left: 25px;
}

.block2 p {
    margin: 0;
    padding-bottom: 20px;
    padding-left: 77px;
}

.block1 .shape1 {
    float: left;
    background: url(../img/sprites.png) no-repeat -539px -139px;
	width: 49px;
	height: 59px;
    margin-left: 25px;
}

.block2 h3 {
    margin: 0px;
}

.part-block2 .ring {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #737373;
    margin-left: 25px;

  }
.part-block2 span{
    display: block;
    text-align: center;
    line-height: 32px;
}


.block3 {
    float:right;
    width: 878px;
    margin-bottom: 20px;
    margin-top: 45px;
}

.block3 h2 {
    float: left;
    margin: 0;
}

.block3 a {
    float: right;
}

.com {
    float: right;
    width: 878px;
    height: 319px;
    background-color: #ffffff;
}

.comment {
    margin-left: 25px;
}

.comment-autor {
    margin-top: 35px;
}

.comment-contract {
    color: #8a8a8a;
    font-size: 14px;
}

.comment-date {
    color: #8a8a8a;
    font-size: 14px;
}

.comment-rating {
    display: block;
    background: url("../img/sprites.png") no-repeat -288px -175px;
    width: 76px;
	height: 13px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.comment-text {
    margin-bottom: 15px;
    font-size: 14px;
}

.comment-full {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed #eb5825;
    font-size: 20px;
}

.comment-full span {
    display: inline-block;
    background: url("../img/sprites.png") no-repeat -381px -132px;
    width: 13px;
	height: 13px;
    border-bottom: none;
}

.block4 .button {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    text-decoration: none;
    width: 164px;
    height: 39px;
    line-height: 39px;
    margin-right: 30px;
}

.block4 .vk {
    display: inline-block;
    font-size: 10px;
    line-height: 18px;
    color: #ffffff;
    width: 102px;
    height: 18px;
    background: #5f83aa;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.block4 .heart {
    display: block;
    background: url("../img/sprites.png") no-repeat -276px -133px;
	width: 12px;
	height: 10px;
    position: absolute;
    top: 3px;
    right: 5px; 
}

.block4 .like {
    display: block;
    background: url("../img/sprites.png") no-repeat -305px -129px;
	width: 29px;
	height: 18px;
    position: absolute;
    top: 0px;
    right: -35px;
}

.col {
    color: #666c73;
}

.main-footer {
    height: 192px;
    width: 1920px;
    background-color: #a5b7c1;
    padding-left: 300px;
    margin-top:118px;
    padding-bottom: 40px;
}

.main-footer .main-nav {
    padding-top: 43px;
    margin-bottom: 50px;
}

.contact-footer {
    width: 400px;
    height: 50px;
    padding-left: 40px;
}